/* Other color palette
:root {
  --defblue: #3D405B;
  --green-blueish: #81B29A;
  --sunsent: #F2CC8F;
  --eggshell: #F4F1DE;
  --burntsel: #E07A5F;
} */

* {
  box-sizing: border-box;
}



:root {
  --ox-blue: #00243F;
  --indigo-1: #013A63;
  --indigo-2: #01497C;
  --indigo-3: #014F86;
  --ucla-blue: #2A6F97;
  --cerulean: #2C7DA0;
  --air-force: #468FAF;
  --air-superiority: #61A5C2;
  --sky-blue: #89C2D9;
  --light-blue: #A9D6E5;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: #013A63;
  color: whitesmoke;
  margin: 0;
  padding: 0;
}

nav {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 auto;
}

nav > ul {
  list-style-type: none;
}

#h1Welcome {
  text-align: center;
  margin-top: 2vh;
}

.container {
  display: flex;
  justify-content: center space-evenly;
  position: relative;
  align-items: center;
}
.slideShowContainer{
  width: 40vw;
  height: 60vh;
  margin: 2vh auto;
  border: solid black 1px;
}


.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 40vw;
  height: 60vh;
  margin: 1vh auto;
  padding: 1vh 1vw;
  border: solid black 1px;
}
#list-id {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding: 0;
}
#list-id > li {
  margin: 0.2rem 0;
}
.btn-c {
  margin: 0.5rem 0;
  padding: 0.5rem 0.5uto;
  text-align: center;
}

/* Image CSS */
img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.slideShow {
  display: none;
}


/* Animations */
.fadeInOut {
  animation: fadeInOut ease-in-out 1.5s;
}

@keyframes fadeInOut {
  from {
    opacity: .30;
  }
  to {
    opacity: 1;
  }
}